    body {
        background: linear-gradient(100deg, #EFEFEF 60%, #EFEFEF 60%);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    main {
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        width: 60%;
        height: 800px;
        box-shadow: 0 15px 25px rgba(255, 255, 255, 0.6);
        background: rgba(255, 255, 255, 0.8);
        margin-left: 20%;
        margin-top: 5%;
        border-radius: 3%;
        flex-wrap: wrap;
    }
    
    .images {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin-left: 10%;
    }
    
    .image {
        width: 50%;
        height: 100%;
        background-image: url(https://images.unsplash.com/photo-1531804055935-76f44d7c3621?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGhvdG98ZW58MHx8MHx8&w=1000&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 3%;
        opacity: 1;
    }
    
    #form-signup#form-signup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10%;
        width: 40%;
        margin-left: 5%;
    }
    
    #form-signup input {
        margin-bottom: 7%;
        width: 100%;
        height: 45px;
        transform: skew(10deg);
    }
    
    #form-signup div {
        border: 1px solid black;
        box-shadow: 0 15px 25px rgba(255, 255, 255, 0.6);
        display: flex;
        flex-direction: row;
    }
    
    .classh {
        font-size: x-small;
        font-style: italic;
        font-size: 20px;
        text-align: center;
        color: rgb(117, 154, 195);
        color-interpolation-filters: sRGB;
    }
    
    .classh1 {
        border: 1px solid black;
        border-radius: 10px;
        font-size: x-small;
        font-style: italic;
        font-size: 9px;
        text-align: right;
        color: rgb(68, 141, 224);
        color-interpolation-filters: sRGB;
        margin-left: 20px;
    }
    
    .bo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    #codeid {
        display: flex;
        flex-direction: row;
        margin-left: 20%;
        justify-content: center;
        margin-top: 70%;
        margin-left: 26px;
    }
    
    #button2022 {
        width: 100px;
        height: 50px;
        margin-top: 60px;
    }
    
    .codeclass {
        width: 100px;
        margin-bottom: 5px;
        height: 50px;
    }
    
    .flex-box {
        flex: 7;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    #codeid input {
        color: blanchedalmond;
        font-size: 40px;
        text-align: center;
    }
    
    .confirm-button {
        display: block;
        width: 80%;
        margin-left: 10%;
    }
    
    .input-box {
        display: flex;
        flex-direction: column;
    }
    
    .bottom12 {
        margin-left: 20px;
        margin-top: 5px;
    }